<div>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">ILFAD</a>
      <ul class="navbar nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="creencias">Creencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contribute">Contribuye</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Login</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
