<!--<p>home works!</p>
<div class="container fluid">-->
  <!--<div class="row">
    <div class="col-20">-->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/Worship.jpg" class="d-block w-100" alt="Congregacion">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1>Avivamiento</h1>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/baptism02.jpg" class="d-block w-100" alt="Bautismos">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1>Vida Nueva</h1>
            <p>Some representative placeholder content for the Second slide.</p>
          </div>
          <div class="carousel-item">
            <img src="/assets/img/pray.jpg" class="d-block w-100" alt="Fachada">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1>Oración</h1>
            <p>Some representative placeholder content for the Third slide.</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!--</div>
  </div>
</div>-->
<div class="container-fluid" id="flex-container">
    <div class="row g-0">
      <div class="col-md-1"></div>
      <div class="col-md-3">
          <div class="card-body">
            <br>
            <h1 class="card-header">Ven y Congrégate!</h1>
            <hr class="rounded">
            <h3 class="card-title">Reuniones presenciales</h3>
            <br>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Día</th>
                  <th scope="col">Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Martes</th>
                  <td> | 6:00 p.m.</td>
                </tr>
                <tr>
                  <th scope="row">Miércoles</th>
                  <td> | 6:00 p.m.</td>
                </tr>
                <tr>
                  <th scope="row">Viernes</th>
                  <td> | 6:00 p.m.</td>
                </tr>
                <tr>
                  <th scope="row">Domingo</th>
                  <td> | 8:00 a.m.</td>
                </tr>
              </tbody>
            </table>
            <hr class="rounded">
            <p class="card-text" style="font-size: 20px"><small class="text-muted"><i>«No dejando de congregarnos, como algunos tienen por costumbre, sino exhortándonos; y tanto más, cuanto veis que aquel día se acerca.»</i><br><strong class="tab">Hebreos 10.25 (RV1960)</strong></small></p>

          </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <br>
        <img src="/assets/img/congregate.jpeg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
</div>
<div class="container">
  <div class="map">
    <app-map></app-map>
  </div>
</div>
